
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');

*{
  font-family: "Inter", sans-serif;
}
body {
  align-items: center;
  text-align: center;
  background-color: #a7bdd0;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 900;
  color: #205c8d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}

button {
  cursor:pointer;
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #bcbcbc;
  background-color: #f0f0f0;
  border-radius: 20px;;
  display: inline-block;
}

button:hover {
  background-color: #205c8d;
  color: white;
  transition: all 0.3s ease;
}

.btns>button{
  cursor:pointer;
  background-color: #82a3bf;
  border: 1px solid #205c8d;
  margin-bottom: 30px;
}

.btns>button:hover{
  background-color: #5a7fa6;
  color: black;
  transition: all 0.3s ease;
}
div {
  text-align: center;
}
#dog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}
.card {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 350px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.btns>button.pressed{
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #205c8d;
  background-color: #ffffff;
  display: inline-block;
}